In [2]:
import pandas as pd
from sqlalchemy import create_engine
from sqlalchemy.orm import Session

In [17]:
marvel_characters = pd.read_csv("../comic-characters_marvel-wikia-data.csv")

In [18]:
marvel_characters.reset_index(drop=True)
marvel_characters.head()

,page_id,name,ID,ALIGN,EYE,HAIR,SEX,ALIVE,APPEARANCES,Year
0,1678,Spider-Man (Peter Parker),Secret Identity,Good Characters,Hazel Eyes,Brown Hair,Male Characters,Living Characters,4043,1962.0
1,7139,Captain America (Steven Rogers),Public Identity,Good Characters,Blue Eyes,White Hair,Male Characters,Living Characters,3360,1941.0
2,64786,"Wolverine (James ""Logan"" Howlett)",Public Identity,Neutral Characters,Blue Eyes,Black Hair,Male Characters,Living Characters,3061,1974.0
3,1868,"Iron Man (Anthony ""Tony"" Stark)",Public Identity,Good Characters,Blue Eyes,Black Hair,Male Characters,Living Characters,2961,1963.0
4,2460,Thor (Thor Odinson),No Dual Identity,Good Characters,Blue Eyes,Blond Hair,Male Characters,Living Characters,2258,1950.0

In [19]:
username = "postgres"
password = "password"
server = "marvelcharacters.cnzcqo7polqc.us-east-2.rds.amazonaws.com"
database = "marvelcharacters"
# create engine
engine = create_engine(f'postgresql+psycopg2://{username}:{password}@{server}/{database}')
# Create our session (link) from Python to the DB
session = Session(engine)
table_name = "marvel_characters"
marvel_characters.to_sql(table_name, con=engine, if_exists='append')
# Close Session
session.close()

IntegrityError: (psycopg2.errors.NotNullViolation) null value in column "Year" violates not-null constraint
DETAIL:  Failing row contains (12, 7823, Namor McKenzie (Earth-616), No Dual Identity, Neutral Characters, Green Eyes, Black Hair, Male Characters, Living Characters, 1528, null).

[SQL: INSERT INTO marvel_characters (index, page_id, name, "ID", "ALIGN", "EYE", "HAIR", "SEX", "ALIVE", "APPEARANCES", "Year") VALUES (%(index)s, %(page_id)s, %(name)s, %(ID)s, %(ALIGN)s, %(EYE)s, %(HAIR)s, %(SEX)s, %(ALIVE)s, %(APPEARANCES)s, %(Year)s)]
[parameters: ({'index': 0, 'page_id': 1678, 'name': 'Spider-Man (Peter Parker)', 'ID': 'Secret Identity', 'ALIGN': 'Good Characters', 'EYE': 'Hazel Eyes', 'HAIR': 'Brown Hair', 'SEX': 'Male Characters', 'ALIVE': 'Living Characters', 'APPEARANCES': 4043, 'Year': 1962.0}, {'index': 1, 'page_id': 7139, 'name': 'Captain America (Steven Rogers)', 'ID': 'Public Identity', 'ALIGN': 'Good Characters', 'EYE': 'Blue Eyes', 'HAIR': 'White Hair', 'SEX': 'Male Characters', 'ALIVE': 'Living Characters', 'APPEARANCES': 3360, 'Year': 1941.0}, {'index': 2, 'page_id': 64786, 'name': 'Wolverine (James "Logan" Howlett)', 'ID': 'Public Identity', 'ALIGN': 'Neutral Characters', 'EYE': 'Blue Eyes', 'HAIR': 'Black Hair', 'SEX': 'Male Characters', 'ALIVE': 'Living Characters', 'APPEARANCES': 3061, 'Year': 1974.0}, {'index': 3, 'page_id': 1868, 'name': 'Iron Man (Anthony "Tony" Stark)', 'ID': 'Public Identity', 'ALIGN': 'Good Characters', 'EYE': 'Blue Eyes', 'HAIR': 'Black Hair', 'SEX': 'Male Characters', 'ALIVE': 'Living Characters', 'APPEARANCES': 2961, 'Year': 1963.0}, {'index': 4, 'page_id': 2460, 'name': 'Thor (Thor Odinson)', 'ID': 'No Dual Identity', 'ALIGN': 'Good Characters', 'EYE': 'Blue Eyes', 'HAIR': 'Blond Hair', 'SEX': 'Male Characters', 'ALIVE': 'Living Characters', 'APPEARANCES': 2258, 'Year': 1950.0}, {'index': 5, 'page_id': 2458, 'name': 'Benjamin Grimm (Earth-616)', 'ID': 'Public Identity', 'ALIGN': 'Good Characters', 'EYE': 'Blue Eyes', 'HAIR': 'No Hair', 'SEX': 'Male Characters', 'ALIVE': 'Living Characters', 'APPEARANCES': 2255, 'Year': 1961.0}, {'index': 6, 'page_id': 2166, 'name': 'Reed Richards (Earth-616)', 'ID': 'Public Identity', 'ALIGN': 'Good Characters', 'EYE': 'Brown Eyes', 'HAIR': 'Brown Hair', 'SEX': 'Male Characters', 'ALIVE': 'Living Characters', 'APPEARANCES': 2072, 'Year': 1961.0}, {'index': 7, 'page_id': 1833, 'name': 'Hulk (Robert Bruce Banner)', 'ID': 'Public Identity', 'ALIGN': 'Good Characters', 'EYE': 'Brown Eyes', 'HAIR': 'Brown Hair', 'SEX': 'Male Characters', 'ALIVE': 'Living Characters', 'APPEARANCES': 2017, 'Year': 1962.0}  ... displaying 10 of 1000 total bound parameter sets ...  {'index': 998, 'page_id': 53013, 'name': 'Franklin Roosevelt (Earth-616)', 'ID': 'No Dual Identity', 'ALIGN': None, 'EYE': None, 'HAIR': None, 'SEX': 'Male Characters', 'ALIVE': 'Deceased Characters', 'APPEARANCES': 37, 'Year': 1940.0}, {'index': 999, 'page_id': 594989, 'name': 'Penny Pennington (Earth-616)', 'ID': 'Public Identity', 'ALIGN': 'Good Characters', 'EYE': None, 'HAIR': 'Black Hair', 'SEX': 'Male Characters', 'ALIVE': 'Living Characters', 'APPEARANCES': 37, 'Year': 1952.0})]
(Background on this error at: https://sqlalche.me/e/14/gkpj)