In [1]:
import pandas as pd

In [10]:
df = pd.read_csv('comic-characters_marvel-wikia-data.csv')
pd.DataFrame(df)
df.head()

,rowid,page_id,name,urlslug,ID,ALIGN,EYE,HAIR,SEX,GSM,ALIVE,APPEARANCES,FIRST APPEARANCE,Year
0,1,1678,Spider-Man (Peter Parker),\/Spider-Man_(Peter_Parker),Secret Identity,Good Characters,Hazel Eyes,Brown Hair,Male Characters,NaN,Living Characters,4043,Aug-62,1962.0
1,2,7139,Captain America (Steven Rogers),\/Captain_America_(Steven_Rogers),Public Identity,Good Characters,Blue Eyes,White Hair,Male Characters,NaN,Living Characters,3360,Mar-41,1941.0
2,3,64786,"Wolverine (James \""Logan\"" Howlett)",\/Wolverine_(James_%22Logan%22_Howlett),Public Identity,Neutral Characters,Blue Eyes,Black Hair,Male Characters,NaN,Living Characters,3061,Oct-74,1974.0
3,4,1868,"Iron Man (Anthony \""Tony\"" Stark)",\/Iron_Man_(Anthony_%22Tony%22_Stark),Public Identity,Good Characters,Blue Eyes,Black Hair,Male Characters,NaN,Living Characters,2961,Mar-63,1963.0
4,5,2460,Thor (Thor Odinson),\/Thor_(Thor_Odinson),No Dual Identity,Good Characters,Blue Eyes,Blond Hair,Male Characters,NaN,Living Characters,2258,Nov-50,1950.0

In [16]:
df[['GSM']] = df[['GSM',]].fillna('Heterosexual Characters') 
df.count()

rowid               1000
page_id             1000
name                1000
urlslug             1000
ID                   979
ALIGN                938
EYE                  900
HAIR                 974
SEX                  991
GSM                 1000
ALIVE               1000
APPEARANCES         1000
FIRST APPEARANCE     989
Year                 989
dtype: int64

In [28]:
df2= df.dropna(inplace=True)
df2 = pd.DataFrame(df2)
df.count()

rowid               830
page_id             830
name                830
urlslug             830
ID                  830
ALIGN               830
EYE                 830
HAIR                830
SEX                 830
GSM                 830
ALIVE               830
APPEARANCES         830
FIRST APPEARANCE    830
Year                830
dtype: int64

In [29]:
df2.to_csv('cleanData.csv')